footer {
  background: var(--color-primary);
  color: var(--color-bg-variant);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 4rem;
}

/*================== MEDIA QUERIES (MEDIUM DEVICES) ==================*/

@media screen and (max-width: 1024px) {
  footer {
    width: 100%;
  }
}

/*================== MEDIA QUERIES (SMALL DEVICES) ==================*/

@media screen and (max-width: 600px) {
  footer {
    width: 100%;
  }
}
